body {
	width: 99%;
	height: 99%;
	background-color: rgb(150, 150, 150);
}

h1 {
	font-family: 'Fondamento', cursive;
	margin: 0px auto 20px auto;
	padding: 10px 20px;
	max-width: 300px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.35);
	border: 3px solid rgb(50, 50, 50);
	border-radius: 40px;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 10px 7px rgba(0,0,0,0.6);
 	overflow: hidden;
}

.sectiondivision {
	margin-top: 60px;
	margin-bottom: 60px;
	border: 4px double white;
}

img[src="images/writing-1043622__340.webp"] {
	width: 50%;
	margin: 0px 20% 0px 20%;
}

img[src="images/bridge-1656035__340.webp"] {
	min-width: 50px;
 	width: 100%;
 }

/*----------------------------------------------------form1 cols--------------------------------------------------*/

 .RBorder {
 	background-color: rgba(181, 247, 198, 0.43);
 	max-width: 30px;
 }

.labels{
	background-color: rgba(181, 247, 198, 0.43);
	width: 130px;
}

.inputgroup1 {
	background-color: rgba(79, 172, 209, 0.43);
	width: 250px;
}

.inputgroup2 {
	background-color: rgba(237, 215, 135, 0.43);
	width: 400px;
}

/*----------------------------------------------------fomr1 table and table-wrappers --------------------------------------------------*/

div#section1 {
	padding-top: 60px;
	padding-bottom: 150px;
	background-image: url('images/greyBanner.jpg');
	background-repeat: repeat;
	background-size: 100%;
	background-position: center;
}

div.curvedBorderWithShadow {
	width: 80%;
	align-content: center;
	padding: 0px;
	margin: auto;
	margin-bottom: 20px;
	border: 3px solid rgb(50, 50, 50);
	border-radius: 40px;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 10px 7px rgba(0,0,0,0.6);
	overflow-x: hidden;
}

div#scrollBarWrapper {
	overflow-x: scroll;
}

div.tableHeadAndFoot {
	width: 100%;
	background-color: rgba(181, 247, 198, 0.43);
	padding: 10px 0px 10px 0px;
	margin: 0px auto;
}

div.tableHeadAndFoot:first-child {
	border-bottom: 1px solid rgb(90, 128, 52);
}

div.tableHeadAndFoot:last-child {
	border-top: 1px solid rgb(90, 128, 52);
}

table#form1 {
	padding: auto;
	margin: auto;
	width: 100%;
	border-collapse: collapse;
	border: none;
}

/*----------------------------------------------------fomr1 td and tr--------------------------------------------------*/

table#form1 tr {
	height: 30px;
}

table#form1 td, table#form1 th {
	padding: 5px 20px 5px 20px;
	width: inherit;
	border: 1px solid rgb(90, 128, 52);
	align-content: center;
}

table#form1 td:first-child, table#form1 th:first-child{
	border-left: none;
}

table#form1 td:last-child, table#form1 th:last-child{
	border-right: none;
}

table#form1 th {
	border-top: none;
}

table#form1 td.textarea{
	height: 100%;
	padding: 0px 0px 0px 0px;
}

/*----------------------------------------------------fomr1 inputs--------------------------------------------------*/

table#form1 td label {
	font-family: 'Fondamento', cursive;
}

table#form1 td button, table#form1 td input, table#form1 td textarea, table#form1 td select{
	background-color: rgba(250, 250, 250, 0.35);
	width: 100%;
	align-content: center;
}

table#form1 td input[type="text"], table#form1 td input[type="password"], table#form1 td input[type="number"], table#form1 td button, table#form1 td input[type="submit"] {
	font-size: 0.83em;
}

table#form1 td input[type="text"], table#form1 td input[type="password"], table#form1 td input[type="number"] {
	width: 96%;
	min-width: 200px;
}

table#form1 td button, table#form1 td input[type="submit"]{
	background-color: rgba(210, 205, 200, 0.5);
}

table#form1 td textarea {
	box-sizing: border-box;
	border: none;
	font-weight: bold;
	height: 108px;
	min-height: 104px;
	min-width: 200px;
	padding: 0px;
	margin: 0px;
}

table#form1 .select{
	padding: 8px 10px 8px 10px;
}

table#form1 td select{
	height: 30px;
	font-size: 20px;
	min-width: 200px;
}

table#form1 td select:hover, table#form1 td button:hover, table#form1 td input:hover, table#form1 td textarea:hover {
	background-color: rgba(244, 252, 78, 0.2);
}




/*----------------------------------------------section 2/tictactoeboard-------------------------------------------------------*/


div#section2 {
	padding-top: 60px;
	padding-bottom: 60px;
	background-image: url("images/greyBanner2.jpg");
	background-repeat: repeat;
	background-size: 100%;
	margin: auto;
}

div.eitherSide {
	justify-content: center;
	display: flex;
}

img[src="images/kindpng_5043236.png"] {
	margin: 5% 10%;
	width: 10%;
	height: 10%;
}

img[src="images/letter-transparent-21.png"] {
	margin: 5% 10%;
	width: 10%;
	height: 10%;
}

div#tictactoeback {
	width: 600px;
	height: 610px;
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 10px 7px rgba(0,0,0,0.6);
	min-width: 430px;
}

div#section2 td {
	width: 200px;
	height: 200px;
	padding: 0px;
	text-align: center;
}

div#section2 td:hover {
	background-color: rgba(200, 200, 100, 0.5);
}

div#section2 h1{
	text-align: center;
}

div#section2 td select {
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-style: inherit;
	padding-left: 15%;
	font-size: 800%;
	overflow: visible;
}

div#section2 td select option {
	margin: auto;
	text-align: center;
	font-size: .5em;
}

div#section2 td select option.O {
	font-size: 0.49em;
}

table#tictactoetable  {
	margin: auto;
	border-collapse: collapse;
	border: 3px solid black;
}

div#section2 tr {
	width: inherit;
	margin: 0;
}

div#section2 .center {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

div#section2 .middle {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}


/*color*/
div#section2 .left {
	background-color: rgba(250, 255, 5, 0.46);
}

div#section2 .center {
	background-color: rgba(255, 97, 0, 0.46);
}

div#section2 .right {
	background-color: rgba(255, 5, 5, 0.46);
}

div#section2 .top {
	background-color: rgba(0, 242, 255, 0.46);
}

div#section2 .middle {
	background-color: rgba(0, 89, 255, 0.46);
}

div#section2 .bottom {
	background-color: rgba(157, 0, 255, 0.46);
}
