body {
	margin: 20px;
}

.left-column {
	width: 40%;
	margin-left: 15px;
}

.centered-block {
	text-align: center;
}

.hidden {
	display: none;
}

.ddMenu-container {
	border: 1px solid rgba(183, 217, 235, .5);
	border-radius: 5px;
	padding: 10px;
	width: auto;
	margin-bottom: 7px;
}

.ddMenu-container li{
	list-style-type: none;
	padding: 2px;
	border-bottom: 1px solid rgba(71, 89, 99, 0.3);
}

.ddMenu-container li:last-child {
	border-bottom: none;
}

.ddMenu {
	padding-top: 0px;
}

.ddMenu-clickable {
	cursor: pointer;
	padding-bottom: 0px;
}

.todo-item-title-container {
	max-width: 60%;
}

.ddMenu-header {
	font-size: 18px;
}

.colorToggleCube {
	display: inline-flex;
	width: 15px;
	height: 15px;
	border: 1px solid rgba(18, 34, 61, .8);
	border-radius: 5px;
	cursor: pointer;
}

.color-primary {
	background: rgba(183, 217, 235, .3);
}

.color-secondary {
	background: rgba(142, 150, 20, 0.3);
}

.color-primary-solid {
	background: rgba(183, 217, 235, 1);
}

.color-secondary-solid {
	background: rgba(142, 150, 20, 0.45);
}

.strikethrough-button {
	width: 25px;
	height: 15px;
	cursor: pointer;
}

.strikethrough {
	text-decoration: line-through;
}

.delete-item-button {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.right-align-inline-1 {
	display: inline;
	position: absolute;
	left: 40px;
}

.right-align-inline-2 {
	display: inline;
	position: absolute;
	left: -25px;
}

.right-align-inline-3 {
	display: inline;
	position: absolute;
	left: -80px;
}

.list-item-controll-row {
	display: block;
}

img[src="Icons\\carrat_2.png"] {
	width : 13px;
}

img[src="Icons\\carrat_1.png"] {
	width : 13px;
}

img[src="Icons\\strikethrough.png"] {
	width: 100%;
	margin-bottom: 14px;
}

img[src="Icons\\delete.png"] {
	width: 100%;
	margin-bottom: 14px;
}