.todo-list-body {
	border: 3px ridge rgba(183, 217, 235, .5);
	min-height: 800px;
}

.actions-menu {
	padding-bottom: 18px;
}

.actions-menu li {
	list-style-type: none;
}

.actions-menu button {
	text-align: center;
	margin: auto;
	width: 100%;
}

.actions-menu h1 {
	text-align: center;
}

#list-display {
	padding-top: 18px;
	padding-bottom: 15px;
	min-height: 800px;
}

.pane-border-left {
	border-left: 3px ridge rgba(183, 217, 235, .5);
}

.pane-border-top {
	border-top: 3px ridge rgba(183, 217, 235, .5);
}

#dialogue-pane-container {
	margin-top: 10px;
	width: 100%;
}

#dialogue-pane-instructions {
	font-size: 20px;
}

#dialogue-pane-textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 88px;
}

#dialogue-pane-enter-button {
	width: 100%;
}

#dialogue-pane-cancel-button {
	width: 100%;
}

.todo-item-divider {
	border: none;
	margin: 2px;
}

.hover-highlight {
	color: rgb(2, 69, 194);
}